/*PALETA DE CORES:
#F38181
#FCE38A
#EAFFD0
#95E1D3
*/

*{
    margin: 0;
}

body{
    /* height: 1000px; */
}

a:link, :visited{
    text-decoration: none;
    color: inherit;
}

.containerTopo{
    width: 95%;
    margin: auto;
    overflow: hidden;
    background: #F38181;
}

.containerTopo span{
    padding: 0 8px 0 8px;
    font-size: 20px;

}

.topo{
    padding: 5px;
    width: 30%;
}

.right{
    float: right;
    text-align: center;
}

.left{
    float: left;
    text-align: center;
}

.header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    overflow: hidden;
}

.tableContainer{
    display: flex;
}

.table{
    width: 95%;
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    overflow: hidden;
}

.table th, td{
    width: 100%;
    background: #FCE38A;
    border: lightgrey solid 1px;
    padding: 5px;
    margin: 0px;
}

.table th{
    background: #EAFFD0;
}

.col1{
    width: calc(100%/7);
}

.col2{
    width: calc(100%/7);
}

.col3{
    width: calc(100%*5/7);
}
