/*PALETA DE CORES:
#F38181
#FCE38A
#EAFFD0
#95E1D3
*/

*{
    margin: 0;
}

header, h1{
    text-align: center;
}

.containerMonthBtn{
    width: 90%;
    margin: 5% auto 0 auto;
}

.monthRow{
    display: flex;
    margin-bottom: 20px;
}

.monthBtn{
    background: #F38181;
    border: solid 1px;
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    float: left;
    text-align: center;
    margin: auto;
}

.marginRight{
    margin-right: 5%;
}

a:link, :visited{
    text-decoration: none;
    color: inherit;
}

.containerTopo{
    width: 95%;
    margin: auto;
    overflow: hidden;
    background: #F38181;
}

.containerTopo span{
    padding: 0 8px 0 8px;
    font-size: 20px;

}

.topo{
    padding: 5px;
    width: 30%;
}

.right{
    float: right;
    text-align: center;
}

.left{
    float: left;
    text-align: center;
}

.header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    overflow: hidden;
}

.tableContainer{
    display: flex;
}

.table{
    width: 95%;
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    overflow: hidden;
}

.table th, td{
    width: 100%;
    background: #FCE38A;
    border: lightgrey solid 1px;
    padding: 5px;
    margin: 0px;
}

.table th{
    background: #EAFFD0;
}

.col1{
    width: calc(100%/7);
}

.col2{
    width: calc(100%/7);
}

.col3{
    width: calc(100%*5/7);
}

#footer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}